.home {
  height: 100vh;
  width: 100vw;
  position: absolute;
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 75px;
    }
    h1 {
      color: aliceblue;
    }
  }

  .home-main {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 95%;

    .main-content {
      user-select: none;

      h1 {
        font-size: 3.7rem;
        position: relative;
        font-family: $font-2;

        @media screen and (max-width: 650px){
          font-size: 2rem;
        }
        @media screen and (min-width: 1200px){
          font-size: 5rem;
        }

      }
     
    }
  }
}